<!DOCTYPE html>
<html lang="en" ng-app="email">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webhosting administration</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <style type="text/css">
      .bs-sidebar .nav > .active > ul {
          display: block;
          margin-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">domain.com</a>
        </div>
        <p class="navbar-text navbar-justified">Webhosting administration</p>
        <p class="navbar-text navbar-right">
          Signed in as <a href="#" class="navbar-link">Mark Otto</a>
          &nbsp;&nbsp;
          <span class="badge">14</span>
          &nbsp;&nbsp;
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          &nbsp;&nbsp;
        </p>
      </div>
    </nav>
    <div class="container">
      <div class="page-header">
        <h1>Webhosting administration <small>domain.com</small></h1>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="col-xs-6 col-md-4">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">FTP</a></li>
            <li role="presentation"><a href="#">Email</a></li>
            <li role="presentation"><a href="#">MySQL</a></li>
            <li role="presentation"><a href="#">DNS</a></li>
            <li role="presentation"><a href="#">Stats</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" ng-controller="EmailController">
          <h2>New Mailbox</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputAddress" placeholder="Mailbox address">
                      <span class="input-group-addon">@domain.com</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPath" class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                    <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option1" />POP3</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" />IMAP</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" />POP3 & IMAP</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon glyphicon glyphicon-lock"></span>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-inbox"> Create mailbox</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <h2>Manage Existing accounts</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-bordered">
                <tr>
                  <td>Login</td>
                  <td>Type</td>
                  <td>Usage</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><strong>admin</strong></td>
                  <td>POP3</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60 MB
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning" ng-click="mailbox.doClick('admin', 'POP3')">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </button>
                  </td>
                </tr>
                <tr>
                  <td><strong>info</strong></td>
                  <td>POP3</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                        95 MB
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning" ng-click="mailbox.doClick('info', 'POP3')">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </button>
                  </td>
                </tr>
                <tr>
                  <td><strong>test</strong></td>
                  <td>POP3</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        30 MB
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning" ng-click="mailbox.doClick('test', 'POP3')">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </button>
                  </td>
                </tr>
                <tr>
                  <td><strong>new</strong></td>
                  <td>POP3</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        20 MB
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning" ng-click="mailbox.doClick('new', 'POP3')">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h2 ng-show="mailbox.edit" id="edit">Edit mailbox</h2>
          <div ng-show="mailbox.edit" class="panel panel-default">
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputAddress" value="{{mailbox.address}}">
                      <span class="input-group-addon">@domain.com</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPath" class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                    <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option1" />POP3</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" />IMAP</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" />POP3 & IMAP</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon glyphicon glyphicon-lock"></span>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-pencil"> Edit mailbox</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
